# Compiled class file
*.class

#iml
*/*.iml

# idea
.idea/

#gradle
.gradle/
build/

venv

#maven
target/
.mvn/
mvnw
mvnw.cmd

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/
.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

daily.properties
/data/


